# Discord OAuth2 - https://discord.com/developers/applications
DISCORD_CLIENT_ID=1477247314207969353
DISCORD_CLIENT_SECRET=v94YHhrsfLG0Y-X6CRYgfXnqmtZvzjFP
DISCORD_CALLBACK_URL=http://localhost:3000/auth/discord/callback

# Turso Datenbank - https://turso.tech
TURSO_DATABASE_URL=libsql://macher-business-onlyesco.aws-ap-northeast-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3NzIyNzQxNzQsImlkIjoiMDE5Y2EzYzUtYjEwMS03NDI3LWE5OGYtNzYyZDU5ZmI2MTk0IiwicmlkIjoiMDJiYjY2MDktYzZhMi00YzA2LTljNDktNWM0OTI2NmFhNWM5In0.BgLf7uL4A-oAd3-cEwkc8ShrLysnlG_JxvgoTzzS-CapKxxnL1sg6XC9rMxjeBIJVe9c80zA9MbDFISMfGjUCg

# Session Secret - Zufälliger langer String
SESSION_SECRET=aendern_zu_einem_langen_zufaelligen_string_123456789

# Deine Discord User ID (für Super-Admin)
# Finde sie: Discord -> Einstellungen -> Erweitert -> Entwicklermodus -> Rechtsklick auf dich selbst -> ID kopieren
SUPER_ADMIN_DISCORD_ID=418797370977943554

# Port
PORT=3000
